@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
    font-family: Manrope, system-ui, sans-serif;
  }

  body {
    font-size: 1.6rem;
  }
}

@layer components {
  .c-container {
    margin: 0 auto;
    min-width: 28rem;
    max-width: 110rem;
    padding: 0 2.4rem;
  }

  @screen md {
    .c-container {
      padding: 0 4rem;
    }
  }
}